.nav{
	position: fixed;
	margin-top: 20px;
    width: 100%;
}

.had {
	position: fixed;
    background-color: black;
    width: 100%;
    color: white;
    height: 30px;
    left: 0;
    top: 0
}
.left-one{
	float: left;
    padding-left: 20px;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pr2 a {
	float: right;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}