<app-navbar></app-navbar>
<div class="container-fluid" style="padding: 0px;">
	<div class="r1">
		<h1>We help startups launch their awesome website</h1>
		<p>It is a long established fact that a reader will be of a page when looking at its layout.</p>
		<button type="button" name="Signup" class="r1-btn"><a href="#" style="text-decoration: none; color: white;">Free Signup</a></button>
		<p class="r1-o">Watch the overview</p>
		<img class="r1-img"src="../assets/macbook.png">
	</div>
	<div class="r2" style="text-align: center;">
		<div class="cnc">
			<h1> Our Features</h1>
			<p>Lorem ipsum dolor sit amet</p>
		</div>
	</div>
</div>